.home{
  text-align: center;

  max-width: 340px;
  margin: 10vh auto;
}


.logo{
 max-height: 20vmin;
  pointer-events: none;
  float: inline-start;
  display: flex;
  position: 20%;

}

.home-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.login {
  color: gray;
  font-family: initial;
  height: 80px;
  width: 80px;
  position: relative;
   top: -400px;
   left: 600px;
}

.signup{
  color: gray;
  font-family: initial;
  height: 80px;
  width: 100px;
  position: relative;
   top: -480px;
   left: 500px;
}


.bag1 {
  color: gray;
  font-family: initial;
  height: 20vmin;
  width: 100px;
  position: relative;
   top: -200px;
   left: -800px;
}


